<div>
  <div class="my-4">
    <nav class="flex space-x-4 my-4">
      <!-- Current: "bg-gray-100 text-gray-700", Default: "text-gray-500 hover:text-gray-700" -->
      <a
        href="#"
        class="text-gray-500 hover:text-gray-700 rounded-md px-3 py-2 text-sm font-medium"
        >GUID Generator</a
      >
      <a
        href="#"
        class="text-gray-500 hover:text-gray-700 rounded-md px-3 py-2 text-sm font-medium"
        >Features</a
      >
      <a
        href="#"
        class="bg-gray-100 text-gray-700 rounded-md px-3 py-2 text-sm font-medium"
        aria-current="page">Guides</a
      >
      <a
        href="#"
        class="text-gray-500 hover:text-gray-700 rounded-md px-3 py-2 text-sm font-medium"
        >Other Tools</a
      >
    </nav>
  </div>
</div>
